{
    "api_key": "sk-xx",
    "注释0":"empty for openai default url",
    "base_url": "",
    "enable_user": true,

    "注释1":"model中填入8个model,可以重复,请确认你的api供应商的标准模型名称",
    "model":[
            
    ]
}
